# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| VS Code with Python   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Understand data science languages and libraries.
- Practice arithmetic expressions in programming.
- Explore data science tools and their applications.

## Author
Tripti Mandal